In [72]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score
from tqdm import tqdm
import sys
sys.path.insert(0, '../../../')
from utils import data_manipulation

In [2]:
nifty_1day = pd.read_csv("../../../Data/Nifty/nifty_1day_continous.csv",index_col=False)
nifty_1min = pd.read_csv("../../../Data/Nifty/nifty_1min.csv",index_col=False)

In [74]:
nifty_1day['datetime'] =  pd.to_datetime(nifty_1day['datetime'], format='%Y-%m-%d %H:%M:%S')
nifty_1day['datetime'] = nifty_1day['datetime'].dt.date
# nifty_1day.drop(columns=['stock_code'],inplace=True)
nifty_1day["pct_returns"] = nifty_1day["close"].pct_change()
nifty_1day["abs_returns"] = nifty_1day["close"].diff()
nifty_1day['cumsum'] = nifty_1day['abs_returns'].cumsum()
nifty_1day["cumulative_returns"] = (1 + nifty_1day["pct_returns"]).cumprod() - 1
nifty_1day["pct_returns"] = nifty_1day["pct_returns"] * 100

In [3]:
nifty_1min['datetime'] = nifty_1min['date'] + " "+nifty_1min['time']
nifty_1min['datetime'] =  pd.to_datetime(nifty_1min['datetime'], format='%Y-%m-%d %H:%M:%S')
nifty_1min.drop(columns=['date','time'],axis=1,inplace=True)

In [4]:
nifty_1day = nifty_1day.set_index('datetime')
nifty_1day.index = pd.to_datetime(nifty_1day.index)

nifty_1min = nifty_1min.set_index('datetime')
nifty_1min.index = pd.to_datetime(nifty_1min.index)

In [76]:
# nifty_1day.drop(columns=['abs_returns','cumsum','cumulative_returns','pct_returns'],axis=1,inplace=True)

In [73]:
data_manipulation.PPSR(nifty_1min)

,PP,R1,S1,R2,S2,R3,S3
datetime,,,,,,,
2008-01-01 09:55:00,6147.366667,6156.133333,6140.133333,6163.366667,6131.366667,6172.133333,6124.133333
2008-01-01 09:56:00,6138.450000,6144.100000,6127.150000,6155.400000,6121.500000,6161.050000,6110.200000
2008-01-01 09:57:00,6131.383333,6134.816667,6124.516667,6141.683333,6121.083333,6145.116667,6114.216667
2008-01-01 09:58:00,6122.983333,6125.066667,6118.816667,6129.233333,6116.733333,6131.316667,6112.566667
2008-01-01 09:59:00,6115.166667,6116.783333,6112.283333,6119.666667,6110.666667,6121.283333,6107.783333
...,...,...,...,...,...,...,...
2007-12-31 15:26:00,6132.650000,6134.850000,6131.400000,6136.100000,6129.200000,6138.300000,6127.950000
2007-12-31 15:27:00,6132.083333,6132.866667,6130.516667,6134.433333,6129.733333,6135.216667,6128.166667
2007-12-31 15:28:00,6129.833333,6130.866667,6127.766667,6132.933333,6126.733333,6133.966667,6124.666667
2007-12-31 15:29:00,6127.600000,6128.800000,6126.200000,6130.200000,6125.000000,6131.400000,6123.600000
2007-12-31 15:30:00,6126.500000,6126.500000,6126.500000,6126.500000,6126.500000,6126.500000,6126.500000

In [74]:
data_manipulation.indicator(nifty_1min)

,open,high,low,close,rsi,ema,sma,UP_BB,MID_BB,LOW_BB
datetime,,,,,,,,,,
2008-01-01 09:55:00,6138.60,6154.60,6138.60,6148.90,NaN,NaN,NaN,NaN,NaN,NaN
2008-01-01 09:56:00,6149.75,6149.75,6132.80,6132.80,NaN,NaN,NaN,NaN,NaN,NaN
2008-01-01 09:57:00,6138.25,6138.25,6127.95,6127.95,NaN,NaN,NaN,NaN,NaN,NaN
2008-01-01 09:58:00,6127.15,6127.15,6120.90,6120.90,NaN,NaN,NaN,NaN,NaN,NaN
2008-01-01 09:59:00,6118.05,6118.05,6113.55,6113.90,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
2007-12-31 15:26:00,6131.25,6133.90,6130.45,6133.60,44.504983,6133.365645,6137.0775,6149.350662,6137.0775,6124.804338
2007-12-31 15:27:00,6133.65,6133.65,6131.30,6131.30,40.946357,6132.990073,6136.4800,6148.656142,6136.4800,6124.303858
2007-12-31 15:28:00,6131.90,6131.90,6128.80,6128.80,37.441843,6132.228242,6135.7400,6147.894244,6135.7400,6123.585756
2007-12-31 15:29:00,6127.00,6129.00,6126.40,6127.40,35.604098,6131.350380,6135.1000,6147.590798,6135.1000,6122.609202
2007-12-31 15:30:00,6126.50,6126.50,6126.50,6126.50,34.434020,6130.468493,6134.2325,6146.581156,6134.2325,6121.883844

In [76]:
data_manipulation.pattern_recognition(nifty_1min)

,open,high,low,close,engulfing,harami,hammer,shooting_star,doji,dragonfly_dogi,gravestone_dogi
datetime,,,,,,,,,,,
2008-01-01 09:55:00,6138.60,6154.60,6138.60,6148.90,0,0,0,0,0,0,0
2008-01-01 09:56:00,6149.75,6149.75,6132.80,6132.80,0,0,0,0,0,0,0
2008-01-01 09:57:00,6138.25,6138.25,6127.95,6127.95,0,0,0,0,0,0,0
2008-01-01 09:58:00,6127.15,6127.15,6120.90,6120.90,0,0,0,0,0,0,0
2008-01-01 09:59:00,6118.05,6118.05,6113.55,6113.90,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
2007-12-31 15:26:00,6131.25,6133.90,6130.45,6133.60,0,0,0,0,0,0,0
2007-12-31 15:27:00,6133.65,6133.65,6131.30,6131.30,0,0,0,0,0,0,0
2007-12-31 15:28:00,6131.90,6131.90,6128.80,6128.80,0,0,0,0,0,0,0
2007-12-31 15:29:00,6127.00,6129.00,6126.40,6127.40,0,0,0,0,0,0,0
2007-12-31 15:30:00,6126.50,6126.50,6126.50,6126.50,0,0,0,0,100,0,0

In [78]:
data_manipulation.get_support_resistance(nifty_1min)

KeyboardInterrupt:

In [5]:
def clean_dataset(df):
    assert isinstance(df, pd.DataFrame), "df needs to be a pd.DataFrame"
    df.dropna(inplace=True)
    indices_to_keep = ~df.isin([np.nan, np.inf, -np.inf]).any(axis=1)
    return df[indices_to_keep].astype(np.float64)

In [52]:
def create_target(data, look_forward=50, threshold=0.008):
    # Compute forward returns
    data['return_fwd'] = np.log(data['close'].shift(-look_forward)) - np.log(data['close'])
    
    # Create binary target variable based on threshold
    data['target'] = np.where(data['return_fwd'] > threshold, 1, np.where(data['return_fwd'] < -threshold, 0, -1))
    
    # Drop missing values
    data.dropna(inplace=True)
    
    # Select relevant columns
    target = ['target']
    # threshold, buy=1, sell=0, hold=-1
    return data[target]

In [53]:
def create_features(data):
    """Create features for daily OHLC data."""
    # Create lagged returns
    data['return_1'] = data['close'].pct_change(periods=1)
    data['return_5'] = data['close'].pct_change(periods=5)
    data['return_10'] = data['close'].pct_change(periods=10)
    
    # Create lagged volatility
    data['volatility_5'] = data['return_1'].rolling(window=5).std().shift(1)
    data['volatility_10'] = data['return_1'].rolling(window=10).std().shift(1)
    data['volatility_20'] = data['return_1'].rolling(window=20).std().shift(1)
    
    # # Create lagged volume
    # data['volume_1'] = data['volume'].pct_change(periods=1)
    # data['volume_5'] = data['volume'].pct_change(periods=5)
    # data['volume_10'] = data['volume'].pct_change(periods=10)
    
    # Create lagged momentum indicators
    data['sma_5'] = data['close'].rolling(window=5).mean().shift(1)
    data['sma_10'] = data['close'].rolling(window=10).mean().shift(1)
    data['sma_ratio'] = data['sma_5'] / data['sma_10']
    
    # Create binary variables for the day of the week
    data['day_of_week'] = data.index.dayofweek
    data['monday'] = np.where(data['day_of_week']==0, 1, 0)
    data['tuesday'] = np.where(data['day_of_week']==1, 1, 0)
    data['wednesday'] = np.where(data['day_of_week']==2, 1, 0)
    data['thursday'] = np.where(data['day_of_week']==3, 1, 0)
    data['friday'] = np.where(data['day_of_week']==4, 1, 0)
    
    # Create binary variables for the month of the year
    data['month'] = data.index.month
    data = pd.get_dummies(data, columns=['month'])

    data['target'] = create_target(data)
    
    # Drop missing values
    data.dropna(inplace=True)
    
    # Select relevant features
    features = ['return_1', 'return_5', 'return_10', 'volatility_5', 'volatility_10', 'volatility_20', 'sma_ratio', 'monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'month_1', 'month_2', 'month_3', 'month_4', 'month_5', 'month_6', 'month_7', 'month_8', 'month_9', 'month_10', 'month_11', 'month_12','target']
    
    return clean_dataset(data[features])

In [79]:
# data = nifty_1day.copy()
data = nifty_1min.copy()
df = data.copy()
data = create_features(data)
feature_names = data.columns.tolist()[:-1]

X = data.iloc[:, 0:-1]
y = data.iloc[:, -1]


# Split data into training and test sets
train_data = data.loc[data.index < '2020-05-01']
test_data = data.loc[data.index >= '2020-05-01']

# Create features for the training and test sets
X_train = train_data.iloc[:, 0:-1]
X_test = test_data.iloc[:, 0:-1]

# Create target variable for the training and test sets
y_train = train_data.iloc[:, -1]
y_test = test_data.iloc[:, -1]

# Normalize the feature data
scaler = StandardScaler()
X_train_norm = scaler.fit_transform(X_train)
X_test_norm = scaler.transform(X_test)

/var/folders/vg/8g_zcrh55hz7zxvfsts892h80000gn/T/ipykernel_36770/3521111987.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.dropna(inplace=True)

In [80]:
data['target'].value_counts()

-1.0    1257939
 0.0      45327
 1.0      45280
Name: target, dtype: int64

## For classification model

In [182]:
models = {
    'Logistic Regression': LogisticRegression(),
    'Decision Tree': DecisionTreeClassifier(),
    'Random Forest': RandomForestClassifier(),
    'SVM': SVC(),
    'KNN': KNeighborsClassifier(),
    'Naive Bayes': GaussianNB(),
    'Gradient Boosting': GradientBoostingClassifier()
}

for name, model in models.items():
    model.fit(X_train_norm, y_train)
    y_pred = model.predict(X_test_norm)
    accuracy = accuracy_score(y_test, y_pred)
    print(f'{name} Accuracy: {accuracy}')
    # if name in ['Logistic Regression']:
    #     importances = abs(model.coef_)
    #     for i, feature_name in enumerate(feature_names):
    #         print(f"{feature_name}: {importances[0,i]}")
    # elif name == 'SVM':
    #     importances = np.abs(model.decision_function(X_train))
    #     for i, feature_name in enumerate(feature_names):
    #         print(f"{feature_name}: {importances[0,i]}")
    # else:
    #     importances = model.feature_importances_
    #     # Print the feature importances
    #     for i, feature_name in enumerate(feature_names):
    #         print(f"{feature_name}: {importances[i]}")

/Users/jeevan/opt/anaconda3/envs/intrade/lib/python3.10/site-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

Logistic Regression Accuracy: 0.9987115962745261
Decision Tree Accuracy: 0.9968783452024589
Random Forest Accuracy: 0.9987115962745261

In [56]:
model = RandomForestClassifier()
model.fit(X_train_norm, y_train)

RandomForestClassifier()

In [61]:
y_pred = model.predict(X_test_norm)
accuracy = accuracy_score(y_test, y_pred)
print(f'Accuracy: {accuracy}')

Accuracy: 0.9569378297127693

## For regression model

In [88]:
### for regression model

# Selecting linear regression, decision tree and random forest model
models = [LinearRegression(), DecisionTreeRegressor(), RandomForestRegressor()]

for model in models:
    # Train the model on the normalized training data
    model.fit(X_train_norm, y_train)

    # Evaluate the model on the normalized test data
    test_score = model.score(X_test_norm, y_test)

    # Train the model on the training data
    model.fit(X_train_norm, y_train)

    # Evaluate the model on the test data
    test_score = model.score(X_test_norm, y_test)
    # Fit the model to the training data
    model.fit(X_train_norm, y_train)
    # Evaluate the model on the test data
    test_score = model.score(X_test_norm, y_test)
    # Print the model and its test score
    print(model, test_score)

LinearRegression() -2.0399348823030294e-05
DecisionTreeRegressor() -0.9832886350179373
RandomForestRegressor() -0.03622903660617882

In [82]:
trade_returns = []
buy_indices = []
sell_indices = []

position = 0
# for i in range(0, len(X)):
for i, row in tqdm(X[:10000].iterrows(), total=X.shape[0]):
    # place a buy order if we don't have any open positions
    if position == 0:
        # place a buy order if the model predicts a positive return
        if model.predict(row.to_numpy().reshape(1,-1)) == 1:
            position = 1
            buy_price = df.loc[i]['close']
            # record the index of the buy order
            buy_idx = i
        elif model.predict(row.to_numpy().reshape(1, -1)) == -1:
            position = -1
            short_price = df.loc[i]['close']
            short_idx = i
    # place a sell order if we have a long position and the model predicts a negative return
    elif position == 1 and model.predict(row.to_numpy().reshape(1, -1)) == 0:
        position = 0
        sell_price = df.loc[i]['close']
        sell_idx = i
        trade_return = sell_price / buy_price - 1
        trade_returns.append(trade_return)
        buy_indices.append(buy_idx)
        sell_indices.append(sell_idx)
    # place a buy-to-cover order if we have a short position and the model predicts a positive return
    elif position == -1 and model.predict(row.to_numpy().reshape(1, -1)) == 1:
        position = 0
        buy_to_cover_price = df.loc[i]['close']
        buy_to_cover_idx = i
        trade_return = short_price / buy_to_cover_price - 1
        trade_returns.append(trade_return)
        buy_indices.append(short_idx)
        sell_indices.append(buy_to_cover_idx)
    # place a sell order if we have a short position and the model predicts a negative return
    elif position == -1 and model.predict(row.to_numpy().reshape(1, -1)) == 0:
        position = 0
        sell_price = df.loc[i]['close']
        sell_idx = i
        trade_return = short_price / sell_price - 1
        trade_returns.append(trade_return)
        buy_indices.append(short_idx)
        sell_indices.append(sell_idx)

  1%|          | 10000/1348546 [00:48<1:48:11, 206.19it/s]

In [83]:
sum(trade_returns)

0

In [84]:
trade_returns

[]

In [85]:
buy_indices

[]

In [150]:
sell_indices

[Timestamp('2009-06-01 00:00:00'), Timestamp('2017-03-28 00:00:00')]