In [1]:
import os
os.chdir("../")
print(os.getcwd())

c:\Users\Amrit\Intilt\Intrade_ai

In [2]:
import pandas as pd
import numpy as np
import datetime
import json
import boto3
from utils.data_cleaning import get_missing_data_dates, get_continuous_1min_data

In [3]:
# Creating the low level functional client
client = boto3.client(
    's3',
    aws_access_key_id = 'AKIARJFZWD4TKOK4T2VO',
    aws_secret_access_key = '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',
    region_name = 'ap-south-1'
)

In [4]:
with open('config/config_cleaning.json', 'r') as openfile:
    config_cleaning = json.load(openfile)

In [5]:
def convert_timeframe_1min(df, timeframe):
    df.index = pd.to_datetime(df.index)
    df['day'] = df.index.normalize()
    gp = df.groupby('day')
    dfList = []
    for k, res in gp:
        resampledf = res.resample(timeframe, origin='start').agg({'open':'first',
                                                        'high':'max',
                                                        'low':'min',
                                                        'close':'last'})
        resampledf.reset_index(inplace=True)
        dfList.append(resampledf)


    finaldf = pd.concat(dfList, ignore_index=True)
    finaldf = finaldf.set_index('datetime')
    return finaldf

In [16]:
def convert_timeframe_1day(df, timeframe):
    df.index = pd.to_datetime(df.index)
    resampledf = df.resample(timeframe, origin='start').agg({'open':'first',
                                                        'high':'max',
                                                        'low':'min',
                                                        'close':'last',
                                                        'volume':'sum'})
    return resampledf

# 1day

In [7]:
# Create the S3 object
obj = client.get_object(
    Bucket = 'intrade-dev-data',
    Key = config_cleaning['file_paths']['nifty_1day']
)
data = pd.read_csv(obj['Body'])

In [8]:
nifty_daily_continous = get_missing_data_dates("Nifty",data)

(12, 5)

In [9]:
df = nifty_daily_continous.copy()

In [10]:
df.isnull().sum()

open      0
high      0
low       0
close     0
volume    0
dtype: int64

In [11]:
df

                open      high       low     close      volume
datetime
2011-01-03   6177.45   6178.55   6147.20   6157.60   615343104
2011-01-04   6172.75   6181.05   6124.40   6146.35   732465778
2011-01-05   6141.35   6141.35   6062.35   6079.80   621724540
2011-01-06   6107.00   6116.15   6022.30   6048.25   623468238
2011-01-07   6030.90   6051.20   5883.60   5904.60   672038638
...              ...       ...       ...       ...         ...
2022-11-01  18130.70  18175.80  18060.15  18145.40   248784199
2022-11-02  18177.90  18178.75  18048.65  18082.85  2053916079
2022-11-03  17968.35  18106.30  17959.20  18052.70   250997227
2022-11-04  18053.40  18135.10  18017.15  18117.15   263180073
2022-11-07  18211.75  18255.50  18064.75  18202.80   309475221

[2912 rows x 5 columns]

In [22]:
timeframe = 'A'
data = convert_timeframe_1day(df, timeframe)

In [23]:
data.head(30)

                open      high       low     close        volume
datetime
2011-12-31   6177.45   6181.05   4531.15   4624.30  146271944739
2012-12-31   4640.20   5965.15   4588.05   5905.10  168956165211
2013-12-31   5937.65   6415.25   5118.85   6304.00  159176373095
2014-12-31   6323.80   8623.00   5933.30   8282.70  212668914319
2015-12-31   8272.80   9119.20   7539.50   7946.35  216889332191
2016-12-31   7938.45   8968.70   6825.80   8185.80  238475477623
2017-12-31   8210.10  10552.40   8133.80  10530.70  321582211383
2018-12-31  10531.70  11760.20   9951.90  10862.55  349717981127
2019-12-31  10881.70  12293.90  10583.65  12168.45  334665924919
2020-12-31  12202.15  14024.85   7511.10  13981.75  198767691203
2021-12-31  13996.10  18604.45  13596.75  17354.05   89931405578
2022-12-31  17387.15  18350.95  15183.40  18202.80  153381318146

# 1min

In [6]:
# Create the S3 object
obj = client.get_object(
    Bucket = 'intrade-dev-data',
    Key = config_cleaning['file_paths']['nifty_1min']
)
data1 = pd.read_csv(obj['Body'])

In [7]:
nifty_min_continous = get_continuous_1min_data("Nifty",data1)

In [8]:
df1 = nifty_min_continous.copy()

In [9]:
df1.isnull().sum()

open     792
high     792
low      792
close    792
dtype: int64

In [10]:
# Impute missing values using linear interpolation
df1.interpolate(method='linear', inplace=True)

# Add noise to the imputed values
noise = np.random.normal(0, 0.02, df1.shape)
df1 += noise

In [11]:
timeframe = '4H'
data1 = convert_timeframe_1min(df1, timeframe)

In [12]:
data1.head(30)

                            open         high          low        close
datetime
2011-01-03 09:15:00  6178.244197  6178.519507  6152.283495  6168.316791
2011-01-03 13:15:00  6168.110431  6173.380409  6147.221641  6154.313377
2011-01-04 09:15:00  6173.430077  6181.053243  6124.375437  6160.318019
2011-01-04 13:15:00  6160.088540  6177.775132  6135.882781  6139.776577
2011-01-05 09:15:00  6139.797364  6139.944364  6093.850373  6113.163040
2011-01-05 13:15:00  6113.229254  6114.545258  6062.331879  6077.800158
2011-01-06 09:15:00  6109.248219  6116.145052  6038.389606  6047.425183
2011-01-06 13:15:00  6047.574492  6058.659165  6022.314143  6043.010593
2011-01-07 09:15:00  6033.206294  6051.201803  5976.494011  5984.083730
2011-01-07 13:15:00  5984.174130  5984.205826  5883.596122  5888.600981
2011-01-10 09:15:00  5901.463845  5907.253655  5798.355297  5830.518229
2011-01-10 13:15:00  5830.813254  5835.742582  5740.919815  5757.714015
2011-01-11 09:15:00  5769.468687  5822.803313  5754.883306  5802.651007
2011-01-11 13:15:00  5802.799459  5842.582134  5698.229107  5798.094067
2011-01-12 09:15:00  5805.479765  5815.764165  5711.308064  5768.360680
2011-01-12 13:15:00  5768.570375  5874.184559  5768.101035  5861.308365
2011-01-13 09:15:00  5857.364362  5857.760544  5750.762643  5769.197357
2011-01-13 13:15:00  5769.331464  5789.156745  5736.728472  5756.620162
2011-01-14 09:15:00  5753.327491  5829.383012  5695.307308  5828.797041
2011-01-14 13:15:00  5828.940859  5833.636464  5639.645211  5646.627499
2011-01-17 09:15:00  5652.887649  5696.137280  5624.159486  5689.199108
2011-01-17 13:15:00  5689.011127  5689.371705  5635.962077  5662.332103
2011-01-18 09:15:00  5684.131007  5723.420289  5671.219772  5690.287443
2011-01-18 13:15:00  5690.357392  5730.523610  5680.943104  5728.053398
2011-01-19 09:15:00  5741.447338  5747.642016  5708.630038  5738.332152
2011-01-19 13:15:00  5738.305387  5742.062644  5662.535588  5698.376839
2011-01-20 09:15:00  5657.156971  5680.138434  5638.008196  5639.209084
2011-01-20 13:15:00  5637.669475  5729.433428  5634.488163  5708.562260
2011-01-21 09:15:00  5691.528458  5717.572444  5682.588127  5703.513816
2011-01-21 13:15:00  5703.231422  5713.854520  5674.522095  5696.434596