In [1]:
import os
os.chdir("../")
print(os.getcwd())

c:\Users\Amrit\Intilt\Intrade_ai

In [2]:
import pandas as pd
import numpy as np
import datetime
import json
import boto3
from utils.data_cleaning import get_missing_data_dates, get_continuous_1min_data

In [3]:
# Creating the low level functional client
client = boto3.client(
    's3',
    aws_access_key_id = 'AKIARJFZWD4TKOK4T2VO',
    aws_secret_access_key = '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',
    region_name = 'ap-south-1'
)

In [4]:
with open('config/config_cleaning.json', 'r') as openfile:
    config_cleaning = json.load(openfile)

In [3]:
def convert_timeframe_min(df, timeframe):
    df.index = pd.to_datetime(df.index)
    df['day'] = df.index.normalize()
    gp = df.groupby('day')
    dfList = []
    for k, res in gp:
        resampledf = res.resample(timeframe, origin='start').agg({'open':'first',
                                                        'high':'max',
                                                        'low':'min',
                                                        'close':'last'})
        resampledf.reset_index(inplace=True)
        dfList.append(resampledf)
    finaldf = pd.concat(dfList, ignore_index=True)
    finaldf = finaldf.set_index('datetime')
    return finaldf

In [13]:
def convert_timeframe_daily(df, timeframe):
    resampledf = df.resample(timeframe, origin='start').agg({'open':'first',
                                                        'high':'max',
                                                        'low':'min',
                                                        'close':'last',
                                                        'volume':'sum'})
    return resampledf

# 1day

In [4]:
'''# Create the S3 object
obj = client.get_object(
    Bucket = 'intrade-dev-data',
    Key = config_cleaning['file_paths']['nifty_1day']
)
data = pd.read_csv(obj['Body'])'''
data = pd.read_csv('data/Nifty/nifty_1day.csv')

In [5]:
nifty_daily_continous = get_missing_data_dates("Nifty",data)

(12, 5)

In [6]:
df = nifty_daily_continous.copy()

In [10]:
df.isnull().sum()

open      0
high      0
low       0
close     0
volume    0
dtype: int64

In [7]:
df

                open      high       low     close      volume
datetime
2011-01-03   6177.45   6178.55   6147.20   6157.60   615343104
2011-01-04   6172.75   6181.05   6124.40   6146.35   732465778
2011-01-05   6141.35   6141.35   6062.35   6079.80   621724540
2011-01-06   6107.00   6116.15   6022.30   6048.25   623468238
2011-01-07   6030.90   6051.20   5883.60   5904.60   672038638
...              ...       ...       ...       ...         ...
2022-11-01  18130.70  18175.80  18060.15  18145.40   248784199
2022-11-02  18177.90  18178.75  18048.65  18082.85  2053916079
2022-11-03  17968.35  18106.30  17959.20  18052.70   250997227
2022-11-04  18053.40  18135.10  18017.15  18117.15   263180073
2022-11-07  18211.75  18255.50  18064.75  18202.80   309475221

[2912 rows x 5 columns]

In [14]:
timeframe = '2W'
data = convert_timeframe_daily(df, timeframe)

In [15]:
data.head(30)

               open     high      low    close      volume
datetime
2011-01-09  6177.45  6181.05  5883.60  5904.60  3265040298
2011-01-23  5901.30  5907.25  5624.15  5696.50  5766935512
2011-02-06  5717.10  5801.55  5369.05  5395.75  5416343113
2011-02-20  5430.15  5599.25  5177.70  5458.95  7337666536
2011-03-06  5456.60  5608.20  5232.75  5538.75  6040384673
2011-03-20  5490.05  5563.30  5366.40  5373.70  4732583749
2011-04-03  5408.75  5872.00  5348.20  5826.05  6209626123
2011-04-17  5842.00  5944.45  5735.55  5824.55  6308958277
2011-05-01  5824.35  5912.90  5693.25  5749.50  5967499507
2011-05-15  5766.90  5775.25  5443.65  5544.75  5483709006
2011-05-29  5541.70  5541.80  5328.70  5476.10  4913008268
2011-06-12  5493.75  5604.95  5457.45  5485.80  5118069956
2011-06-26  5469.85  5520.15  5195.90  5471.25  5682109198
2011-07-10  5441.20  5737.15  5434.25  5728.95  5558927427
2011-07-24  5648.05  5653.95  5496.95  5633.95  5326087895
2011-08-07  5633.80  5702.25  5116.45  5211.25  6381842372
2011-08-21  5083.85  5204.20  4796.10  4845.65  6074892015
2011-09-04  4843.70  5113.70  4720.00  5040.00  4803002245
2011-09-18  4998.90  5169.25  4911.05  5084.25  6733098678
2011-10-02  5068.40  5168.40  4758.85  4943.25  5871877847
2011-10-16  4874.40  5141.40  4728.30  5132.30  5036129944
2011-10-30  5156.20  5219.25  5011.05  5201.80  3743002546
2011-11-13  5358.90  5360.25  5142.25  5168.85  4476183612
2011-11-27  5217.35  5228.90  4639.10  4710.05  6616717041
2011-12-11  4769.30  5099.25  4754.80  4866.70  5325986758
2011-12-25  4906.85  4910.25  4531.15  4714.00  5757202500
2012-01-08  4718.15  4800.50  4588.05  4746.90  4997730758
2012-01-22  4747.55  5064.15  4695.45  5048.60  7355954469
2012-02-05  5025.35  5334.85  5021.35  5325.85  7784036071
2012-02-19  5379.45  5606.70  5322.95  5564.30  9453073888

# 1min

In [4]:
'''# Create the S3 object
obj = client.get_object(
    Bucket = 'intrade-dev-data',
    Key = config_cleaning['file_paths']['nifty_1min']
)
data1 = pd.read_csv(obj['Body'])'''
data1 = pd.read_csv('data/Nifty/nifty_1min.csv')

In [5]:
nifty_min_continous = get_continuous_1min_data("Nifty",data1)

In [6]:
df1 = nifty_min_continous.copy()

In [7]:
df1.isnull().sum()

open     792
high     792
low      792
close    792
dtype: int64

In [8]:
# Impute missing values using linear interpolation
df1.interpolate(method='linear', inplace=True)

# Add noise to the imputed values
noise = np.random.normal(0, 0.02, df1.shape)
df1 += noise

In [25]:
timeframe = '15T'
data1 = convert_timeframe_min(df1, timeframe)