In [1]:
import os
os.chdir("../")
print(os.getcwd())

c:\Users\Amrit\Intilt\Intrade_ai

In [2]:
import pandas as pd
import numpy as np
import datetime
import json
import boto3
from utils.data_cleaning import get_missing_data_dates, get_continuous_1min_data

In [3]:
# Creating the low level functional client
client = boto3.client(
    's3',
    aws_access_key_id = 'AKIARJFZWD4TKOK4T2VO',
    aws_secret_access_key = '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',
    region_name = 'ap-south-1'
)

In [4]:
with open('config/config_cleaning.json', 'r') as openfile:
    config_cleaning = json.load(openfile)

In [15]:
def convert_timeframe(df, timeframe):
    df.index = pd.to_datetime(df.index)
    df['day'] = df.index.normalize()
    gp = df.groupby('day')
    dfList = []
    for k, res in gp:
        resampledf = res.resample(timeframe, origin='start').agg({'open':'first',
                                                        'high':'max',
                                                        'low':'min',
                                                        'close':'last'})
        resampledf.reset_index(inplace=True)
        dfList.append(resampledf)


    finaldf = pd.concat(dfList, ignore_index=True)
    finaldf = finaldf.set_index('datetime')
    return finaldf

# 1day

In [5]:
# Create the S3 object
obj = client.get_object(
    Bucket = 'intrade-dev-data',
    Key = config_cleaning['file_paths']['nifty_1day']
)
data = pd.read_csv(obj['Body'])

In [6]:
nifty_daily_continous = get_missing_data_dates("Nifty",data)

(12, 5)

In [32]:
df = nifty_daily_continous.copy()

In [8]:
df.isnull().sum()

open      0
high      0
low       0
close     0
volume    0
dtype: int64

In [33]:
df

                open      high       low     close      volume
datetime
2011-01-03   6177.45   6178.55   6147.20   6157.60   615343104
2011-01-04   6172.75   6181.05   6124.40   6146.35   732465778
2011-01-05   6141.35   6141.35   6062.35   6079.80   621724540
2011-01-06   6107.00   6116.15   6022.30   6048.25   623468238
2011-01-07   6030.90   6051.20   5883.60   5904.60   672038638
...              ...       ...       ...       ...         ...
2022-11-01  18130.70  18175.80  18060.15  18145.40   248784199
2022-11-02  18177.90  18178.75  18048.65  18082.85  2053916079
2022-11-03  17968.35  18106.30  17959.20  18052.70   250997227
2022-11-04  18053.40  18135.10  18017.15  18117.15   263180073
2022-11-07  18211.75  18255.50  18064.75  18202.80   309475221

[2912 rows x 5 columns]

In [65]:
timeframe = 'W'
data = convert_timeframe(df, timeframe)

In [66]:
data.head(30)

               open     high      low    close
datetime
2011-01-09  6177.45  6178.55  6147.20  6157.60
2011-01-09  6172.75  6181.05  6124.40  6146.35
2011-01-09  6141.35  6141.35  6062.35  6079.80
2011-01-09  6107.00  6116.15  6022.30  6048.25
2011-01-09  6030.90  6051.20  5883.60  5904.60
2011-01-16  5901.30  5907.25  5740.95  5762.85
2011-01-16  5767.95  5842.60  5698.20  5754.10
2011-01-16  5800.05  5874.20  5711.30  5863.25
2011-01-16  5850.75  5857.75  5736.70  5751.90
2011-01-16  5752.10  5833.65  5639.65  5654.55
2011-01-23  5648.80  5696.15  5624.15  5654.75
2011-01-23  5682.55  5730.50  5671.25  5724.05
2011-01-23  5737.35  5747.65  5662.55  5691.05
2011-01-23  5692.05  5717.55  5674.50  5696.50
2011-01-30  5717.10  5756.00  5697.75  5743.25
2011-01-30  5763.30  5801.55  5680.65  5687.40
2011-01-30  5725.30  5726.10  5594.95  5604.30
2011-01-30  5614.00  5614.40  5459.55  5512.15
2011-02-06  5452.55  5526.85  5416.65  5505.90
2011-02-06  5537.30  5539.15  5402.00  5417.20
2011-02-06  5430.45  5532.65  5418.00  5526.75
2011-02-06  5519.90  5556.30  5369.05  5395.75
2011-02-13  5430.15  5440.35  5376.95  5396.00
2011-02-13  5432.35  5432.35  5303.40  5312.55
2011-02-13  5293.05  5339.45  5225.65  5253.55
2011-02-13  5246.05  5272.60  5196.80  5225.80
2011-02-13  5219.65  5319.45  5177.70  5310.00
2011-02-20  5340.25  5463.80  5340.25  5456.00
2011-02-20  5467.75  5506.50  5408.35  5481.00
2011-02-20  5467.60  5504.80  5460.35  5481.70

# 1min

In [5]:
# Create the S3 object
obj = client.get_object(
    Bucket = 'intrade-dev-data',
    Key = config_cleaning['file_paths']['nifty_1min']
)
data1 = pd.read_csv(obj['Body'])

In [6]:
nifty_min_continous = get_continuous_1min_data("Nifty",data1)

In [8]:
df1 = nifty_min_continous.copy()

In [9]:
df1.isnull().sum()

open     792
high     792
low      792
close    792
dtype: int64

In [10]:
# Impute missing values using linear interpolation
df1.interpolate(method='linear', inplace=True)

# Add noise to the imputed values
noise = np.random.normal(0, 0.02, df1.shape)
df1 += noise

In [16]:
timeframe = 'D'
data1 = convert_timeframe(df1, timeframe)

In [17]:
data1.head(30)

                            open         high          low        close
datetime
2011-01-03 09:15:00  6178.266990  6178.469917  6147.186013  6154.314440
2011-01-04 09:15:00  6173.369536  6180.992551  6124.403664  6139.741175
2011-01-05 09:15:00  6139.779363  6139.933560  6062.364274  6077.779547
2011-01-06 09:15:00  6109.256611  6116.112471  6022.286251  6043.058979
2011-01-07 09:15:00  6033.121235  6051.181928  5883.597019  5888.631955
2011-01-10 09:15:00  5901.510480  5907.265350  5740.935527  5757.741454
2011-01-11 09:15:00  5769.467875  5842.589550  5698.193518  5798.092647
2011-01-12 09:15:00  5805.429946  5874.205131  5711.302230  5861.338339
2011-01-13 09:15:00  5857.331071  5857.736268  5736.684232  5756.622729
2011-01-14 09:15:00  5753.345837  5833.695431  5639.673924  5646.656681
2011-01-17 09:15:00  5652.910360  5696.151789  5624.163115  5662.301165
2011-01-18 09:15:00  5684.083095  5730.515378  5671.224641  5728.062797
2011-01-19 09:15:00  5741.440254  5747.645174  5662.558798  5698.404658
2011-01-20 09:15:00  5657.135333  5729.443433  5634.525290  5708.556919
2011-01-21 09:15:00  5691.545117  5717.541750  5674.497182  5696.405111
2011-01-24 09:15:00  5715.528775  5756.012478  5697.746608  5741.894652
2011-01-25 09:15:00  5765.935502  5801.512372  5680.695774  5684.774286
2011-01-27 09:15:00  5726.088333  5726.095013  5594.949356  5606.985665
2011-01-28 09:15:00  5614.374966  5614.402210  5459.561868  5527.067817
2011-01-31 09:15:00  5454.810283  5526.832332  5416.676168  5508.216853
2011-02-01 09:15:00  5537.907071  5539.161444  5401.999054  5402.819990
2011-02-02 09:15:00  5471.074253  5490.608836  5415.643914  5427.326216
2011-02-03 09:15:00  5431.711859  5532.637534  5417.994952  5527.686341
2011-02-04 09:15:00  5524.192097  5556.315256  5369.042062  5390.283232
2011-02-07 09:15:00  5431.489863  5440.317461  5376.958444  5405.521923
2011-02-08 09:15:00  5429.448515  5429.750179  5303.389787  5311.463548
2011-02-09 09:15:00  5289.952577  5339.406013  5225.642533  5274.360213
2011-02-10 09:15:00  5249.460275  5272.624095  5196.779894  5221.372872
2011-02-11 09:15:00  5234.286881  5319.448339  5177.694241  5312.154986
2011-02-14 09:15:00  5340.407015  5463.800691  5340.403156  5460.923979